*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    height: 100vh;
    display: grid;

align-items: center;
justify-content: center;
}
.main-div{
    display: grid;
    justify-items: center;
   
    padding: 1em;
}

.number{
   margin-bottom: 2em;
   border: none;
   transition: outline .1s ease-in-out;
   padding: 1em;
   border-radius: 1%;

}
.number:focus{
    outline:solid #25D366;
    
    
}

.red:focus{
    outline: solid #FF8080;
}
.mainButton{
    width: 50%;
    padding: .5em;
    border: 1px solid #242424f3;
    border-radius: 5px;
    background-color:transparent;
}
.mainButton:hover{
    background-color: #25D366;
}