* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root, html[data-theme='light'] {
    --background-color: #fff;
    --text-color: #000;
}

html[data-theme='dark'] {
    --background-color: #000;
    --text-color: #fff;
}

body {
  background: var(--background-color);
  color: var(--text-color);
  height: 100vh;
  display: grid;
  grid-template-rows: 10% 80% 10%;
}


.darkmode {
    grid-column: 7;
    border-radius: 50%;
    padding: 1em;
    background-color:var(--text-color);
    cursor: pointer;
}

.main-div {
    display: grid;
    justify-items: center;
    align-items: center;

}

.github {

    display: grid;

    align-items: center;
    align-items: center;
    grid-template-columns: repeat(12, 1fr);
    margin: 1em;

}

.github a {
    grid-column: 12;
  text-decoration: none;
    color: var(--text-color);
    cursor: pointer;
}



.number {
    border: none;
    transition: outline .1s ease-in-out;
    padding: 1em;
    border-radius: 1%;
    background-color: var(--background-color);
   
    outline: rgb(199, 196, 193) solid;
}

.number::placeholder{
color: var(--text-color);
text-align: center;
}

.number:focus {
    outline: solid #6c6c6c;
}

.red {
    outline: solid #FF8080;
}

