* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* for theming  */

:root,
html[data-theme='light'] {
    --background-color: #fff;
    --text-color: #000;
}

html[data-theme='dark'] {
    --background-color: #000;
    --text-color: #fff;
}

body {
    background: var(--background-color);
    color: var(--text-color);
    height: 100vh;
    display: grid;
    grid-template-rows: 10% 80% 10%;
}

.darkmode {
    grid-column: 7;
    display: grid;
    justify-items: center;
}

.main-div {
    display: grid;
    justify-items: center;
    align-items: center;
}

.github {
    display: grid;
    align-items: center;
    grid-template-columns: repeat(12, 1fr);
    margin: 1em;
}

.githubLogo {
    grid-column: 12;
    background: url(./images/github.svg);
    padding: 1em;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

.number {
    border: none;
    transition: outline .1s ease-in-out;
    padding: 1em;
    border-radius: 1%;
    background-color: var(--background-color);
    color: var(--text-color);
    outline: rgb(199, 196, 193) solid;
}

.number::placeholder {
    color: var(--text-color);
    text-align: center;
}

.number:focus {
    outline: solid #6c6c6c;
}

.red {
    outline: solid #FF8080;
}

/* for big screens */

@media screen and (min-width:450px) {

    .darkmode {
        padding: 2em;
    }
}

@media screen and (min-width:700px) {
    body {
        grid-template-rows: 30% 40% 30%;
    }

    .darkmode {
        grid-column: 1;
        padding: 3em;
    }
}

/* end  */


/* toogle Button */

input[type=checkbox] {
    height: 0;
    width: 0;
    visibility: hidden;
}

label {
    cursor: pointer;
    text-indent: -9999px;
    width: 3em;
    height: 1.7em;
    background: var(--text-color);

    border-radius: 6.25em;
    position: relative;
    display: grid;
    justify-content: center;
    align-items: center;
}

label:after {
    content: '';
    position: absolute;

    left: .1em;
    width: 1.4em;
    height: 1.4em;
    background: var(--background-color);
    background-repeat: no-repeat;
    background-size: contain;
    border-radius: 50%;
    transition: 0.3s;
}

input:checked+label {
    background: var(--text-color);
}

input:checked+label:after {

    transform: translateX(99%);



}